# Ignore virtual environment
venv/

# Ignore system files
__pycache__/
*.pyc
*.pyo

# Ignore environment variables (Sensitive data)
bot_token.env
.env

# Ignore IDE and editor config files
.vscode/
.idea/

# Ignore log files
logs/
*.log

# Ignore Render build files (if any)
.nixpacks/
